.bouton2{
  color:black;
  background-color: #ffffff!important;
}
#buttons{
  text-align: center;
}


p {
    padding: 10px;
    margin: 0;
}

.container-fluid{
  justify-content:space-around;
  margin-top:50px;
}


h2 {
  text-align: center;
margin-bottom: 50px;
margin-top: 50px;
}


.rew {
  position: absolute;
  text-align: center;
  background-color: darkgray;
  opacity: 75%;
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 200px;
  height:auto;
  color: white;
  display: block;
  top: 2%;
}

.dead {
  color: black;
  font-size: 60px;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  position: absolute;

}

.zizi {
  opacity: 1.5;
}

.caca {
  display: block;
  opacity:0.5;
}

.prout:hover .rew {
  display:none;
}
.prout:hover .caca{
opacity: 1;
}

#contact {
  text-align: center;
  background-color: white;
  border-color: black;
  border-top:2px;
  border-radius: 10px;
}

.bg {
  display: flex;
  justify-content: space-around;
}

#table, td {
  border: 1px solid black;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.td1 {
  background-color: grey;
  color: white;
}

.td2 {
  background-color: silver;
}

#golu {
  text-align: right;
  color: silver;
}
#swag {
  font-size: 50px;
}

select {
  margin-top: 10px;
}

#beoo {
  text-align: right;
}

#foot {
  background-color: grey;
  color: white;
}

.blanc {
  color: white;
}
